/Code/SphereBookingSystem/nbproject/private/
/Code/SphereBookingSystem/dist/
/Code/SphereBookingSystem/build/
/Code/Archive Projects/Manager/build/
/Code/Archive Projects/Manager/nbproject/private/
/Code/Archive Projects/SkiInstructor/build/
/Code/Archive Projects/SkiInstructor/nbproject/private/
/Code/Archive Projects/SlopeOperator/build/
/Code/Archive Projects/SlopeOperator/nbproject/private/